RewriteEngine on
RewriteRule ^$ site/

RewriteRule ^doi-mat-khau$ /lequan/site/?act=changepass [L]
RewriteRule ^dang-xuat$ /lequan/site/?act=logout [L]
RewriteRule ^gio-hang$ /lequan/site/?act=cartview [L]
RewriteRule ^thanh-toan$ /lequan/site/?act=checkout [L]
RewriteRule ^xac-nhan-gio-hang$ /lequan/site/?act=savebill [L]
RewriteRule ^cam-on$ /lequan/site/?act=thankyou [L]
RewriteRule ^quen-mat-khau$ /lequan/site/?act=forgotpass [L]
RewriteRule ^thanh-toan-thanh-cong/$ /lequan/site/?act=ttthanhcong [L]

RewriteRule ^dang-nhap$ /lequan/site/?act=login [L]
RewriteRule ^dang-ky$ /lequan/site/?act=register [L]
RewriteRule ^trang-chu$ /lequan/site/?act=home [L]
RewriteRule ^gioi-thieu$ /lequan/site/?act=gioithieu [L]
RewriteRule ^checkout$ /lequan/site/?act=checkout [L]
RewriteRule ^paymentchecking$ /lequan/site/?act=paymentchecking [L]
RewriteRule ^createcheckoutsession$ /lequan/site/?act=createcheckoutsession [L]
RewriteRule ^stripecheckout$ /lequan/site/?act=stripecheckout [L]
RewriteRule ^createklarnaqr$ /lequan/site/?act=createklarnaqr [L]
RewriteRule ^saveorder$ /lequan/site/?act=saveorder [L]
RewriteRule ^lien-he$ /lequan/site/?act=contact [L]
RewriteRule ^bao-hanh$ /lequan/site/?act=aboutus [L]
RewriteRule ^chinh-sach-van-chuyen$ /lequan/site/?act=termofservice [L]
RewriteRule ^impressum$ /lequan/site/?act=impressum [L]
RewriteRule ^privacy$ /lequan/site/?act=privacypolicy [L]
RewriteRule ^notification$ /lequan/site/?act=notification [L]
RewriteRule ^donecheckout$ /lequan/site/?act=donecheckout [L]

RewriteRule ^san-pham/([a-zA-Z0-9-]+)/trang-([0-9]+)$ /lequan/site/?act=product&slug2=$1&Page=$2 [L]
RewriteRule ^lang/(.*)$ /lequan/site/?lang=$1 [L]


RewriteRule ^san-pham-chi-tiet/([a-zA-Z0-9-]+)$ /lequan/site/?act=detail&slug=$1&id=$2 [L]

RewriteRule ^hang/([a-zA-Z0-9-]+)-([0-9]+)/trang-([0-9]+)$ /lequan/site/?act=product&maloai=$2&Page=$3&slug=$1 [L]
RewriteRule ^danh-muc/([a-zA-Z0-9-]+)-([0-9]+)/trang-([0-9]+)$ /lequan/site/?act=product&maloai=$2&Page=$3&slug1=$1 [L]

ErrorDocument 404 /lequan/site/views/Error404.php
